<!DOCTYPE html>
<html lang="en">
<%- include('partitial/head.ejs') %>
<body>
    <h1>Form</h1>
    <%= inviteedId %>
    <form method="post" action="/api/approval">
        <fieldset>
        <legend>Form</legend>
          
          <label>first name</label>
          <input type="text" name="fname">
  
          <label>last name</label>
          <input type="text" name="lname">
  
          <div class="check">
            <p>are you coming? </p>
            <input type="radio" name="is_coming" value="true">
            <label>Yes</label>
            <input type="radio" name="is_coming" value="false">
            <label>No</label>
            </div>
          
          <br>
            <label>number of people arriving</label>
            <input type="number" name="number_of_poeple_arriving" min="0" max="6">
  
          <input type="submit" value="Send">
          
        </fieldset>
      </form>
</body>
</html>