<!DOCTYPE html>
<html lang="en">
<%- include('partitial/head.ejs') %>
<body>
    <h1>Form</h1>

    <p> invited id: <%= invitedId %></p>
   
    <form id="myForm" >
      <fieldset>
      <legend>אישור הגעה</legend>
        
        <label>שם פרטי:</label>
        <input type="text" name="fname">

        <label>שם משפחה:</label>
        <input type="text" name="lname">

        <div class="check">
          <p>האם אתה מגיע? </p>
          <input type="radio" name="is_coming" value="true">
          <label>כן</label>
          <input type="radio" name="is_coming" value="false">
          <label>לא</label>
          </div>
        
        <label>מספר האנשים שמגיעים:</label>
          <input type="number" name="number_of_people_arriving" min="0" max="6">

          <button type="button" onclick="submitForm()">שלח</button>
        
      </fieldset>
    </form>    


      <script>
        function submitForm() {
          const form = document.getElementById('myForm');
          const formData = new FormData(form);
          const invitedId = '<%= invitedId %>';
    
          fetch(`/api/approval/${invitedId}`, {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded', // Set the content type
              },
              body: new URLSearchParams(formData).toString() // Encode form data properly
            })
        }
      </script>
      
</body>
</html>