<!DOCTYPE html>
<html lang="en">
<%- include('partitial/head.ejs', { pageTitle: 'approval form',  pageSpecificCSS: '' }) %>
<body>
    <h1>יצירת אירוע</h1>

    <div class="form">
    <form method="post" action="/api/event/create" id="eventForm" enctype="multipart/form-data" >

        <select id="eventType" name="type">
            <% Object.keys(data.eventName).forEach(key => { %>
              <option value="<%= data.eventName[key] %>"><%= key %></option>
            <% }); %>
          </select><br>
        
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br><br>
        
        <label for="hosts_name">Hosts Name:</label>
        <input type="text" id="hosts_name" name="hosts_name" required><br><br>
        
        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br><br>
        
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image"><br><br>
        
        <button type="submit">Create Event</button>

    </form>
  </div>



  <%- include('partitial/footer.ejs') %>
