<!DOCTYPE html>
<html lang="en">
<%- include('partitial/head.ejs' , { pageTitle: 'Example', pageSpecificCSS: '/css/example.css' }) %>
<body>
  <div class="container">
    <div class="image">
      <img src="https://i.pinimg.com/564x/59/32/29/593229739184504afd9507cc42a9cb86.jpg">
    </div>
    <div class="text">
      <form method="post" action="/api/approval/<%= invitedId %>">
        <!-- <fieldset>
        <legend>אישור הגעה</legend> -->
  
        <p>שלום <%= invited.first_name %> <%= invited.last_name %> אנא אשר הגעתך</p>
  
          <div class="check">
            <p>האם אתה מגיע? </p>
            <input type="radio" name="is_coming" value="true">
            <label>כן</label>
            <input type="radio" name="is_coming" value="false">
            <label>לא</label>
            </div>
  
          <br>
          <label>מספר האנשים שמגיעים:</label>
          <input type="number" name="number_of_people_arriving" min="0" max="6">
  
          <input type="submit" value="Send">
<!--   
        </fieldset> -->
      </form>
    </div>
  </div>
</body>
</html>