
div.form
{
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

fieldset{
    margin: 10px 15px;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px 10px;
    width: 400px;
  }
  
  legend{
    font-size: 20px;
    padding: 0 5px;
    color: #04AA6D;
  }

label{
  display: block;
  margin-top: 15px; 
}

.check label{
  margin-top: 0;
}

label:first-of-type{
  margin-top: 0;
}

input[type=submit] {
  display: block;
  margin: 15px 0;
  padding: 5px 25px;
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.check{
  margin-bottom: 3px;
}

.check p{
  margin-bottom: 0;
}

input[type=radio] + label{
  display: inline-block;
  padding-top: 0;
  margin-top: 0;
}

input[type=radio]{
  margin-left: 0;
  margin-right: 10px;
}

input[type=radio]:first-of-type{
  margin-right: 0px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


